body{
    font-family: Georgia, serif;
}

.Row {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    margin-left: 5%;
    
}
.Column {
    border: 1px solid black;
    display: inline-block;
    margin-top: 5%;
    margin-left: 50px;
}
