div.ridge {}
.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    border-style: groove;
	display: inline-block;
	font-family: Georgia, serif;
}
