body{
    font-family: Georgia, serif;
}

.Row {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    margin-left: 5%;
    
}
.Column {
    border: 1px solid black;
    display: inline-block;
    margin-top: 5%;
    margin-left: 50px;
}

.title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

.title {
    font-size: 36px;
    font-weight: bold;
}

p {
  text-align: center;
  font-size: 18px;
}

.button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: gray;
      color: #fff;
      border: 1px;
      padding: 10px 15px;
      cursor: pointer;
    }
	
 .button-container {
      display: flex;
      justify-content: flex-end;
    }

    